body {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "map     colorbar"
    "status  footer";
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: var(--color-bg);
}

#map {
  grid-area: map;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  canvas,
  svg {
    display: block;
  }
}
